*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


#logo{
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-left: 2pc;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.details img{
    width: 50%;
    height: 100vh;

    border-radius: 10px;
}
.info{
    padding-left: 2pc;
    padding-right: 1pc;
    text-align: justify;
}
.info h2{
    text-align: center;
    padding-bottom: 5px;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.info p:first-of-type{
    padding-top: 10px;
}
.info p{
    font-size: 1.2rem;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}

.card-container{
    display: flex;
    margin: 0 -10px;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}
.card i{
    font-size: 50px;
    text-align: center;
    padding-left: 10pc;
    padding-bottom: 5px;
}
.card{
    border: 1px solid #ccc;
    margin: 0 auto;
  max-width: 800px;
  margin-inline: 10px;
  padding-top: 2pc;
  padding-bottom: 2pc;
  background-color: lightblue;
  color: #000000;
  border-radius: 10px;
}
.card h2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.card p{
    padding-left: 1pc;
    padding-right: 1pc;
    text-align: justify;
}
.card button{
    margin-left: 10pc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0.3rem;
    color: orangered;
    font-size: 1.3rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    text-align: center;
    padding-top: 2rem;
    background-color: #555;
    color: #fff;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer a{
    color: white;
    
}
